pip>=19.1.1
wheel
mock
pylint
coverage
flake8
ipython
isort; python_version >= '3.8'
pytest
pytest-cov
pytest-watch
pre-commit
black; python_version >= '3.8'
hypothesis 
pypolyagamma # used to check consistency on some inference functions
